<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessfactory">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Detox"></activity>
        <activity android:name=".Diabetes" />
        <activity android:name=".Obese_diet" />
        <activity android:name=".Keto_diet" />
        <activity android:name=".Muscle_diet" />
        <activity android:name=".Gym_diet" />
        <activity android:name=".Weight_loss" />
        <activity android:name=".Weight_gains" />
        <activity android:name=".DietPlans" />
        <activity android:name=".Cycling" />
        <activity android:name=".Mountain" />
        <activity android:name=".Burpees" />
        <activity android:name=".Squats" />
        <activity android:name=".Skipping" />
        <activity android:name=".Pike" />
        <activity android:name=".Lunges" />
        <activity android:name=".Hindu" />
        <activity android:name=".Diamond" />
        <activity android:name=".Pull" />
        <activity android:name=".Pushups_rotation" />
        <activity android:name=".Pec_fly" />
        <activity android:name=".Jumping_squats" />
        <activity android:name=".Incline_dumbellpress" />
        <activity android:name=".TricepDips" />
        <activity android:name=".KneePushups" />
        <activity android:name=".Widearm" />
        <activity android:name=".JumpingJacks" />
        <activity android:name=".Cobra" />
        <activity android:name=".Advance" />
        <activity android:name=".Intermediate" />
        <activity android:name=".Beginner" />
        <activity android:name=".Cardio" />
        <activity android:name=".FullBody" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Register" />
        <activity android:name=".Homepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>